##### Exercise 2: Create markdown cell with title of the notebook
# Data Science Tools and Ecosystem

##### Exercise 3 - Create a markdown cell for an introduction.
In this notebook, Data Science Tools and Ecosystem are summarized.

##### Exercise 4 - Create a markdown cell to list data science languages.
__Some of the popular languages that Data Scientists use are:__
1. Python
2. R
3. C++

##### Exercise 5 - Create a markdown cell to list data science libraries
__Some of the commonly used libraries used by Data Scientists include:__
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

##### Exercise 6 - Create a markdown cell with a table of Data Science tools
| Data Science Tools|
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Spark      |
| Tableau           |
| Power BI          |

##### Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python.

##### Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This is a simple arithmetic expression to multiply then add
(3*4)+5

17

##### Exercise 9 - Create a code cell to convert minutes to hours

In [13]:
# This will convert 200 minutes to hours.
200/60

3.3333333333333335

##### Exercise 10 - Insert a markdown cell to list Objectives
### __Objectives:__
- Create a Jupyter Notebook
- Insert code and markdown.
- impliment some arithmetic operations.

##### Exercise 11 - Create a markdown cell to indicate the Author's name
## Author
Salleh